body {
    background-color: #DAE5D0;
  }
  hr {
    border-color: #E5CB9F;
    border-style: none;
    border-top-style: dotted;
    border-width: 4px;
    width: 150px;
  }
  h1 {
    color: #68A7AD;
  }
  h3 {
    color: #68A7AD;
  }
